.video {

  padding: 15px 15px 40px 15px;

  @include col(1,4, 15px)

  img {
    display: block;
    width: 100%;
  }

  span {
    display: block;
    color: $vplayer--grey;
    text-transform: uppercase;
    font-size: 14px;
    margin: 10px 0;
  }

  h1 {
    display: block;
    color: $vplayer--white;
    font-size: 18px;
    margin: 0;
    transition: color 0.2s ease-out;
  }

  &:hover {
    h1 {
      color: $vplayer--pink;
    }
  }

}
